<h3 class='inline-block'>New import</h3> 

<%= form_for(:imports, url: imports_path, html: {role: "form"}) do |f| %>
  <div class="form-group">
    <%= f.label :title, value: 'Title:' %>
    <%= f.text_field :title, class: "form-control mb-50" %>
  </div>

  <div class='form-group'>
    <%= f.file_field :attachment %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: "btn btn-outline-primary btn-sm mt-20", data: {disable_with: 'wait...'} %>
  </div>
<% end %>
